//
// Variables
//
$primary: #014876; // dunkles metallic blau
$secondary: #72bf44; // gras gr端n

$footer-sections: () !default;
$footer-sections: map-merge(
                (
                        content: (
                                background:		$secondary,
                                color:			  $black,
                                link-color:		$primary
                        ),
                        meta: (
                                background:		$secondary,
                                color:			  $black,
                                link-color:		$primary
                        )
                ),
                $footer-sections
);

//
// Color system
// --------------------------------------------------
$white:                             #ffffff !default;
$gray-100:                          #f8f8f8 !default; // fast weiss
$gray-200:                          #e9e9e9 !default;
$gray-300:                          #dedede !default;
$gray-400:                          #cecece !default;
$gray-500:                          #ababab !default;
$gray-600:                          #6c6c6c !default;
$gray-700:                          #494949 !default;
$gray-800:                          #313131 !default;
$gray-900:                          #212121 !default;// fast schwarz
$black:                             #000000 !default;

$primary:                           #2a9d8f !default; // dunkel gr端n
$secondary:                         #212121 !default; // fast schwarz
$tertiary:                          #f4a261 !default; // mittel braun
$quaternary:                        #e9c46a !default; // hell braun
$india_light_brown:                 #ffe0b8 !default; // kreis-306
$india_dark_brown:                  #b66906 !default;
$india_red:                         #f00c0f !default; /* neu #f00c0f, bisher #f80200 */
$BEV_blue:                          #0080FF !default; //BEV
$TSVgreen:                          #009120 !default; //TSV
$TSVdarkgreen:                      #006813 !default;
$TSVyellow:                         #ffff00 !default;
$default:                           #eaebec !default; // hell grau
$success:                           #5cb85c !default; // gras gr端n
$info:                              #319fc0 !default; // t端rkis
$warning:                           #f0ad4e !default; // gold braun
$danger:                            #d9534f !default; // rot-braun
$lighter:                           $gray-100 !default;
$light:                             $gray-200 !default;
$dark:                              $gray-800 !default;
$darker:                            $gray-900 !default;

$theme-colors: (
    'primary':                      $primary,
    'secondary':                    $secondary,
    'tertiary':                     $tertiary,
    'quaternary':                   $quaternary,
    'india_light_brown':	          $india_light_brown,
    'india_dark_brown':		          $india_dark_brown,
    'india_red':		                $india_red,
    'success':                      $success,
    'info':                         $info,
    'warning':                      $warning,
    'danger':                       $danger,
    'default':                      $default,
    'lighter':                      $lighter,
    'light':                        $light,
    'dark':                         $dark,
    'darker':                       $darker,
) !default;
